<div class="about">
    <div class="text-center">
        <p class="aboutHead  fs-1">
            About of<br> KMCT!
        </p>
        <p class="aboutContent fs-5">
            The KMCT Group of Institutions is one of the largest groups of educational institutions in Kerala.
            The objective of KMCT is to impart quality education to aspiring students in different
            professional fields of their choice. KMCT Group of Educational Institutions focuses on
            professional development thereby imparting an opportunity for the students to learn and apply
            new knowledge and skills that will enhance their personal as well as professional life.
        </p>
    </div>
    