<div class="about">
    <div class="text-center">
        <p class="aboutHead  fs-1">
            KMCT is metamorphosing-come,<br> be a part of this transformation!
        </p>
        <p class="aboutContent fs-5">
            The KMCT Group of Institutions is one of the largest groups of educational institutions in Kerala.
            The objective of KMCT is to impart quality education to aspiring students in different
            professional fields of their choice. KMCT Group of Educational Institutions focuses on
            professional development thereby imparting an opportunity for the students to learn and apply
            new knowledge and skills that will enhance their personal as well as professional life.
        </p>
    </div>
    <div class="d-flex">
        <div class="directorImage">
            <img src="https://kmct.edu.in/images/kmct/director4.jpg" alt="" class="ms-5 mt-5">
            <p class="ms-5">Dr. K. Moidu <br>
                Chairman <br>
                KMCT Group of Institutions</p>
        </div>
        <div class="mt-5 message">
            <h2 class="fs-1">
                <u>CHAIRMAN'S MESSAGE</u>
            </h2>
            <p class="fs-5 messageP">
                As we complete 21 years in 2022, I look back with pride at what we have achieved. 
                I would like to thank our students-past and present, parents, our recruiters, and our 
                staff for having stood by us. I am reminded of a lovely quote by Emily Dickinson:

                “We turn not older with years but newer every day.”

                Technology has profoundly changed education. Technology enables newer and 
                more innovative means of communication and collaboration. We realize the 
                compelling need to stay abreast with these changes. KMCT is metamorphosing. 
                Rather than resisting change, we have decided to embrace it and move along 
                in the changed context. I welcome you to KMCT- come, be a part of this 
                change.
            </p>
        </div>
    </div>
</div>