<div class="home">
    <div class="homeBody">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small_2x/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg"
            alt="background image" class="homebackground">
        <p class="homeP fs-1 ms-2">We are <br> Metamorphosing.</p>
    </div>
    <div class="homeLower">
        <p class="homeLowerLeft fs-3 ms-5">KMCT GROUP OF INSTITUTIONS</p>
        <p class="homeLowerRight ms-5">The KMCT Group of Institutions is one of the largest groups of educational institutions in Kerala. 
            The objective of KMCT is to impart quality education to aspiring students in different 
            professional fields of their choice. KMCT Group of Educational Institutions focuses on 
            professional development thereby imparting an opportunity for the students to learn and apply 
            new knowledge and skills that will enhance their personal as well as professional life.</p>
    </div>
</div>